* {
    font-family: 'Oswald', sans-serif;
}

.contact-form {
    position: relative;
    border: 1vw solid black;
    margin: 50px auto;
    width: 35vw;
    height: 35vw;
    background-color: blue;
    font-size: 3vw;
}

div div {
    background-color: aquamarine;
    width: 25%;
    height: 25%;

}

.contact-form__box1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-form__box2 {
    position: absolute;
    right: 0;
}

.contact-form__box3 {
    position: absolute;
    top: 0;
}

.contact-form__box4 {
    position: absolute;
    bottom: 0;
}

.contact-form__box5 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}